GOOGLE_API_KEY=your_key_here            #aistudio.google.com -> Create API Key -> Keep any name and Default Gemini Project
QDRANT_URL=your_qdrant_url              #QDRANT WEBSITE -> SELECT GCP+SYDNEY -> CREATE CLUSTER THEN SEE CREDENTIALS 
QDRANT_API_KEY=your_qdrant_key          #ENDPOINT = URL